
<div class="main top-main">
  <div class="container">
    <div class="top-message">
      <p style="padding:10px 0px;">東京の主要駅を入力して検索</p>
      <%= form_tag("/search_exe",:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
  </div>




  <footer>
    <div class="container">
      <div class="footer_links">
        <h3>食べログ</h3>
        <ul>
        <%
          if @tabelogPlaces
            @tabelogPlaces.each do |place|
        %>
            <li><%= link_to "#{place.area}", "/place/#{place.area}" %></li>
        <%
            end
          end
        %>
        </ul>

    </div>
  </footer>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCpM_NXjd2FB5C8spyddfKd9rDDVndEIkA&callback=initMap" async defer></script>
