/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


 * {
   box-sizing: border-box;
 }

 html {
   font: 100%/1.5 'Avenir Next', 'Noto Sans JP' 'Hiragino Sans', sans-serif;
   line-height: 1.7;
   letter-spacing: 1px;
 }

 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: #2d3133;
   font-size: 14px;
 }


 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }


 input {
   background-color: transparent;
   outline-width: 0;
 }

 form input[type="submit"] {
   border: none;
   cursor: pointer;
 }

 /* 共通レイアウト ================================ */
 body {
   color: #2d3133;
   margin: 0;
   min-height: 1vh;
 }

 .main {
   position: relative;
   padding: 64px 0px;
   width: 100%;
   height: auto;
   min-height: 100vh;
   background-color: #f5f8fa;
 }


 /* ヘッダー ================================ */
 header {
   height: 64px;
   position: absolute;
   z-index: 1;
   width: 100%;
   background-color: rgb(249, 179, 3);
 }

 header ul{
   display: flex;
   margin: 20px 0px 20px 10px;
   color: #fff;
 }

 header li{
   margin: 0px 10px;
   color: #fff;
 }


 header li a{
   color: #fff;
   text-decoration: none;
 }

 header li a:hover{
   transition: 0.5s;
   opacity: 0.8;
 }

 .header-logo {
   float: left;
   padding-left: 20px;
   color: white;
   font-size: 22px;
   line-height: 64px;
 }

 .header-logo a{
   color: white;
   font-size: 22px;
 }

 .header-menus {
   float: right;
   padding-right: 20px;
 }

 .header-menus li {
   float: left;
   line-height: 64px;
   font-size: 13px;
   color: white;
   padding-left: 15px;
 }

 .header-menus a {
   float: left;
   font-size: 13px;
   color: white;
 }

 .header-menus .fa {
   padding-right: 5px;
 }

 header ul li form input[type="text"]{
   background-color: #fff;
   width: 140px;
   border-radius: 5px 0px 0px 5px;
   background-color: #fff;
   border: 1px solid rgb(255, 179, 0);

 }

 header ul li form input[type="submit"] {
   border-radius: 0px 5px 5px 0px;
   color: rgb(255, 179, 0);
   background-color: #fff;
   padding: 1px 10px;
   margin: 0px -5px;
 }

 header ul li form input[type="submit"]:hover{
   opacity: 0.4;
   transition: 0.5s;
 }

 #header-app slide a{
   padding: 20px;
 }


/* コンテンツ */
 .container {
   max-width: 1000px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
   clear: both;
 }

 .top-message{
   width: 80%;
   margin: auto;
   text-align: center;
 }

 .top-message form input[type="text"]{
    height: 40px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    border: 1px solid rgb(255, 179, 0);
 }

 .top-message form input[type="submit"]{
    font-weight: bold;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    background: linear-gradient(0deg, rgba(255, 145, 8,0.7917542016806722) 0%, rgba(255, 145, 8,0.6) 100%);
    padding: 0px 10px;
    margin: 0px -5px;
 }

 .top-message form input[type="submit"]:hover{
   opacity: 0.4;
   transition: 0.5s;
 }


  /* map関連 */
  .map_container {
    clear: both;
    width: 100%;
    padding: 4px;
    border: 1px solid #CCC;
  }

  .map_canvas {
    width: 100%;
    height: 500px;
  }

  #url, #zoom {
    display: none;
  }

  .map_content {
    width: 250px;
    height: 70px;
  }

  #tabelog_map_canvas{
    width: 100%;
    height: 550px;
  }

  .map_window{
    width: 400px;
    text-align: left;
  }

  .map_window a{
    text-decoration: none;
  }

  .map_window a p{
    text-decoration: none;
  }

  .map_window img{
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  .sort_btns{
    text-align: center;
    padding: 10px 0px;
  }

  .sort_btns button{
    margin: 5px;
  }


  .ranking_result{
    width: 100%;
    height: 180px;
    border: 1px solid rgb(255, 179, 0);
    background: #fff;
  }

  .col-md-4{
    padding: 0px;
  }

  .ranking_result_img img{
    width: 100%;
    height: 178px;
    object-fit: cover;
  }

  .ranking_result_content{
    text-align: left;
    height: 179px;
    overflow: hidden;
  }


  .passive{
    opacity: 0.5;
  }

  .active{
    opacity: 1;
  }


  footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 0px;
    background: linear-gradient(0deg, rgba(255, 145, 8,0.7917542016806722) 0%, rgba(255, 145, 8,0.6) 100%);
  }

  .footer_links h3{
    text-align: center;
  }


   .footer_links ul li{
      padding: 5px 10px;
      border: 1px solid rgba(255, 145, 8);
      margin: 0px 10px;
      border-radius: 5px;
      background-color: #fff;
   }

   .footer_links ul li a{
      color: rgba(255, 145, 8);
    }

   .footer_links ul li a:hover{
      transition: 0.5s;
      opacity: 0.6;
      text-decoration: none;
   }
